import React from 'react';
import PropTypes from 'prop-types';

import './$componentName.$styleExtention';

function $componentName(props) {
    return (
        <div>
            
        </div>
    );
};

$componentName.propTypes = {

};

export default $componentName;