import React from 'react';
import PropTypes from 'prop-types';

import './$componentName.css';

function $componentName(props) {
    return (
        <p>I am a beautiful component</p>
    );
};

$componentName.propTypes = {

};

export default $componentName;