import React, { useState } from 'react';

import './$componentName.css';

function $componentName(props) {
  const [state, setState] = useState({});

  return (
    <p>{state}</p>
  );
}

$componentName.propTypes = {

};

export default $componentName;