import React, { useState } from 'react';

import './$componentName.css';

function $componentName(props) {
    const [state, setState] = useState({});

    return (
        <div>
            
        </div>
    );
}

$componentName.propTypes = {

};

export default $componentName;